body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #efeaf1;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background-color:rgb(160, 67, 134);
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #1e3d34;
}

.hero {
  text-align: center;
  padding: 140px 20px;
}

button {
  padding: 12px 20px;
  border: none;
  background-color: rgb(160, 67, 134);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(160, 67, 134);
}